<ion-content padding>
  <ion-grid class="cardconatiner">
    <ion-row>
      <ion-col>
        <ion-row class="headtitle">
          Welcome Back !
        </ion-row>
        <ion-row class="notetitle">
          Login to continue
        </ion-row>
        <br><br><br>
        <form [formGroup]="loginuser" (ngSubmit)="getLogin()">
            <ion-item class="inputbox">
              <ion-label position="floating">UserId:</ion-label>
              <ion-input name="username" type="text" formControlName="username" value="{{Username}}"></ion-input>
            </ion-item>
            <div *ngFor="let error of errorMessages.username">
              <ng-container *ngIf="loginuser.get('username')!.hasError(error.type) && (loginuser.get('username')!.dirty || loginuser.get('username')!.touched)">
                <small>{{error.message}}</small>
              </ng-container>
            </div>
            <ion-item class="inputbox">
              <ion-label position="floating">Password:</ion-label>
              <ion-input name="password" formControlName="password" value="{{Password}}"></ion-input>
            </ion-item>
            <div *ngFor="let error of errorMessages.password">
              <ng-container *ngIf="loginuser.get('password')!.hasError(error.type) && (loginuser.get('password')!.dirty || loginuser.get('password')!.touched)">
                <small>{{error.message}}</small>
              </ng-container>
            </div>
          <ion-button type="submit" expand="block" id="ionButton" [disabled]="!loginuser.valid">Login</ion-button>
        </form> 
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
